<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TodoApp</title>

    <!-- Third party -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Custom -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- Page icon -->
    <link rel="icon" type="image/png" href="/images/icon.png" />
  </head>

  <body>
    <div class="container">
      <%- include('partials/todo') %>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
