.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list-header {
  cursor: default;
}

.list-item {
  border-bottom: 1px solid #cccccc;
}

.list-item:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.cursor-wait {
  cursor: wait;
}

.footer {
  background-color: #f7f7f7;
  bottom: 0;
  cursor: default;
  position: fixed;
  width: 100%;
}

.heart {
  color: #ff0000;
  font-size: 20px;
}
